@model cdscntmkpapinetcore2webapp.Models.OfferManager.CheckXmlFileMessage

@{
    ViewData["Title"] = "CheckOfferXmlFile";
}

<br/>
<br />
<div>
    <h4>CheckXmlOfferFile</h4>
   
        <div class="alert alert-danger">
            <strong>Failed!</strong> : error message : @Model._ErrorMessage
        </div>   
   
</div>

