@model cdscntmkpapinetcore2webapp.Models.OfferManager.GetOfferListInFileMessage

@{
    ViewData["Title"] = "GetOfferListInFile";
}

<br />
<br />
<br />
<div>
    <h4>GetOfferListInFileMessage</h4>
@if (Model._OperationSuccess)
{

    <div class="alert alert-success">
        <strong>
            Success! 
        </strong>
        <strong>
            <h4><a href="~/OfferManager/Download/?OfferExtractFile=@Model._Filepath">Export your Offer list</a></h4>
        </strong>    
    
    </div>   
   
}
else
{
    <div class="alert alert-warning">
        <strong>Warning!</strong> error message : @Model._ErrorMessage.
    </div>
}












@section scripts {
    <script type="text/javascript">
        $(function () {
            var myhub = $.connection.excelHub;

            myhub.client.readProgress = function (p) {
                $('#progressBarRead').css('width', p + '%').attr('aria-valuenow', p);
            };

            myhub.client.readDbProgress = function (p) {
                $('#progressBarGetData').css('width', p + '%').attr('aria-valuenow', p);
            };

            myhub.client.setDbProgress = function (p) {
                console.log(p);
                $('#progressBarSetData').css('width', p + '%').attr('aria-valuenow', p);
            };

            $.connection.hub.start({ jsonp: true }).done(function () {
                myhub.server.readProgress(0);
            });
        });
    </script>
}
</div>

