@model cdscntmkpapinetcore2webapp.Models.ProductManager.CheckXmlProductFileMessage

@{
    ViewData["Title"] = "CheckXmlProductFile";
}

<br/>
<br />
<div>
    <h4>CheckXmlProductFile</h4>
   
        <div class="alert alert-danger">
            <strong>Failed!</strong> : error message : @Model._ErrorMessage
        </div>   
   
</div>

