@{
    ViewData["Title"] = "Contact";
}
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<h3> usefull links </h3>
<address>
    
    <strong>Cdiscount Marketplace Website :</strong> <a href="http://marketplace.cdiscount.com/">http://marketplace.cdiscount.com/</a><br />
    <strong>Cdiscount Marketplace API documentation :</strong> <a href="https://dev.cdiscount.com/marketplace/">https://dev.cdiscount.com/marketplace/</a><br />
    <strong>Need more information, book a phone appointment with one of our technician :</strong> <a href="https://planningassistancecdiscount.prordv.com/rdv">Planning assistance</a><br />
    <strong>Need assistance, create a support request in the help section of your cdiscount backoffice :</strong> <a href="https://seller.cdiscount.com/">Cdiscount backoffice</a><br />
    <strong>Php SDK :</strong> <a href="https://github.com/Cdiscount/API-MarketPlace-SDK-PHP">API-MarketPlace-SDK-PHP</a><br />
    <strong>want to test your own client : </strong>
        <ul>
            <li><a href="https://seller.preprod-cdiscount.com">Preproduction backoffice</a><br /></li>
            <li><a href="https://sts.preprod-cdiscount.com">Preproduction autentication service</a><br /></li>
            <li><a href="https://wsvc.preprod-cdiscount.com">Preproduction marketplace API</a><br /></li>
        </ul>
</address>
